body{
    background: white;
}





/*Portfolio*/

.portfolio-jumbotron {
    border-top: solid rgba(199, 199, 199, 0.548) 1px;
    background-color: white;
}

.jumbotron-header {
    font-size: 40px;
    font-weight: bold;
}

.portfolio-deck {
    padding-bottom: 100px;
    margin-bottom: 30px;
    border-bottom: solid rgba(199, 199, 199, 0.548) 1px;
}

.portfolio-card {
    border: none;
}