body{
    background: white;
}





/*Portfolio*/

.portfolio-jumbotron {
    border-top: solid rgb(172, 171, 171) 1px;
    background-color: white;
}

.jumbotron-header {
    font-size: 40px;
    font-weight: bold;
}

.portfolio-card {
    border: none;
}