body{
    background: white;
}
/*Jumbotron*/
.card-img{ height: 100px;
  width: 50%;


}
.jumbotron-top {
    background-image: url(https://image.freepik.com/free-photo/panorama-statue-liberty-with-one-world-trade-building-center-hudson-river-new-york-cityscape-background-landmarks-lower-manhattan-new-york-city_1439-233.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
	background-repeat: no-repeat;
    padding: 4%;
    margin-top: 0px!important;
}

    .container-fluid {
    margin: 0px;
    padding: 0px;
}

    .display-4{background-color: whitesmoke;
            font-weight: bold; }



   .lead1{background-color: whitesmoke;
   font-weight: bold;
   }        
.link a {
 color: white;
}






/* Portfolio */


.portfolio-jumbotron {
    border-top: solid rgba(199, 199, 199, 0.548) 1px;
    background-color: white;
}

.portfolio-jumbotron-header {
    font-size: 40px;
    font-weight: bold;
}

.portfolio-icon {
    transition: all 0.6s ease-in-out 0s;
}

.portfolio-icon:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.6s ease-in-out 0s;
}

.portfolio-jumbotron-text {
    margin-bottom: 8px;
}

.portfolio-deck {
    padding-bottom: 100px;
    margin-bottom: 30px;
    border-bottom: solid rgb(255, 253, 253) 1px;
}

.portfolio-card {
    border: none;

}


/* Form */
.form-container {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width:750px;
    border-radius: 2px;
    padding: 8px 8px 25px 1px;
    background-color: rgba(216, 216, 216, 0.541);
    box-shadow: 0 0 2px black;
}





/* end of Form */

    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.portfolio-card:hover {
  top: -10px;
  box-shadow: 0px 0px 10px 0px black;
}


/* first headings--------------------------------->* first headings--------------------------------->* first headings--------------------------------->*/
.imgcircle1 {
  border-radius: 50%;
width: 200px;
    height: 300px 

}
.imgcircle2 {
  border-radius: 50%;
    width: 200px;
    height: 300px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
 
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: grey;
  color: white;
  transform: rotateY(180deg);
}

<<<<<<< HEAD
.portfolio-links:hover {
    text-decoration: none;
    color: black;
}

