<!-- your html code here -->
<div class="container">
    <div class="jumbotron jumbotron-fluid pb-0 portfolio-jumbotron">
    <div class="container">
        <h1 class="display-4 portfolio-jumbotron-header">Portfolio</h1>
        <p class="lead portfolio-jumbotron-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, laborum atque perspiciatis accusantium quibusdam neque est, recusandae eius.</p>
    </div>
    </div>
    <div class="card-deck portfolio-deck">
    <div class="card portfolio-card">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur earum nesciunt corrupti, non est voluptate? Soluta dolore quasi pariatur esse magni suscipit nulla? Nulla reiciendis recusandae voluptas assumenda ratione nemo.</p>
        </div>
    </div>
    <div class="card portfolio-card">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero aperiam, repellat dicta officia eos sit ex praesentium tempora dolorem. Ipsum corporis optio, labore rem aut voluptatem commodi nobis nemo?</p>
        </div>
    </div>
    <div class="card portfolio-card">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, libero! Accusamus odio eveniet nostrum blanditiis, distinctio quas. Dolorum recusandae beatae debitis tempora. Rerum voluptatibus sint veniam nisi quaerat tempora nulla?</p>
        </div>
    </div>
    </div>
</div>