<!-- your html code here -->
<div class="container">
    <div class="jumbotron jumbotron-fluid pb-0 portfolio-jumbotron">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
    </div>
    <div class="card-deck">
    <div class="card">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur earum nesciunt corrupti, non est voluptate? Soluta dolore quasi pariatur esse magni suscipit nulla? Nulla reiciendis recusandae voluptas assumenda ratione nemo.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam libero aperiam, repellat dicta officia eos sit ex praesentium tempora dolorem. Ipsum corporis optio, labore rem aut voluptatem commodi nobis nemo?</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, libero! Accusamus odio eveniet nostrum blanditiis, distinctio quas. Dolorum recusandae beatae debitis tempora. Rerum voluptatibus sint veniam nisi quaerat tempora nulla?</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    </div>
</div>