<!-- your html code here -->
 
<!-- -----v--------v--------car1-----v-------v----- -->
<div class="container-fluid con-1">

<div class="card mb-3 text-center p-5 card-1" style="max-width: 100%;">
  
  <h3>Beautiful Views</h3>
  
  
  <div class="row no-gutters">
  
  
    <div class="col-md-6 ">
      <img src="https://as2.ftcdn.net/jpg/01/53/17/67/500_F_153176768_bOrlmHmVUPY5fJAWIpoN63oQM8tJI53k.jpg" class="card-img imgcircle1" >
    </div>
    <div class="col-md-6">
      <div class="card-body">



        <h5 class="card-title">This is <i>crazy</i>!!!</h5>
        <p class="card-text">
           <!-- ---------------flip card1------------------ -->
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://www.askideas.com/media/13/Welcome-Beach-Side-View.jpg" alt="Avatar"  style="width:300px;height:200px;">
    </div>
    <div class="flip-card-back">
      <h1>Lorem ipsum dolor sit .</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aperiam sequi quia doloremque recusandae et, placeat tempora dolorum quibusdam.</p>
    </div>
  </div>
</div>
        <!-- ----^-----------flip card------^-----------></p>
        
      </div>
    </div>
  </div>
</div>

</div>


<!-- ------v--------v--------car2-----v-------v---- -->
<div class="container" style="width: 100%;">


 <div class="card mb-3 hc1 p-5 text-center" style="max-width: 100%;">
  
  
    <h3>Lovely Pictures</h3>
  
    <div class="row no-gutters">
    <div class="col-md-6">
      <img src="https://as1.ftcdn.net/jpg/02/22/07/14/500_F_222071408_Oe0zNt3INmXrjhWTn3BKPVZWQlqze7St.jpg" class="card-img imgcircle2">
    </div>
    <div class="col">
      <div class="card-body text-center">
        <h5 class="card-title">Check <i>this</i> out!!!</h5>
      </div>
    
        <!-- ---------------flip card2------------------ -->
  <div class="flip-card ">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://image.shutterstock.com/image-vector/hello-lettering-banner-poster-sticker-260nw-1114667741.jpg" alt="Avatar" style="width:300px;height:200px;">
    </div>
    <div class="flip-card-back">
      <h1>Lorem ipsum dolor sit .</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aperiam sequi quia doloremque recusandae et, placeat tempora dolorum quibusdam.</p>
    </div>
    </div>
  </div>
</div>

        <!-- ----^-----------flip card------^----------->
       
  </div>






</div>
</div>